.first-view__inner {
    width: 100%;
      position: relative;
  /* 親要素に高さを設定する */
  min-height: 100vh;
  overflow: hidden;

}



.first-view__inner::before {
  content: "";
  position: absolute; /* 背景をビューポートに固定 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/cleveland-museum.jpg);
  background-position: center;
  background-size: cover;
  z-index: -1; /* コンテンツの下に配置 */
}



/* 周囲を透明にフェードする */
.featured-artworks img {
    display: block;


    /* 丸くフェードさせる場合　
    -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: cover;

    mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: cover; */

  /* 標準仕様 */
  mask-image:
    linear-gradient(to bottom, black 80%, transparent 100%),
    linear-gradient(to top, black 80%, transparent 100%),
    linear-gradient(to right, black 80%, transparent 100%),
    linear-gradient(to left, black 80%, transparent 100%);
  mask-composite: intersect;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: cover;

  /* WebKit用（Chrome / Safari） */
  -webkit-mask-image:
    linear-gradient(to bottom, black 80%, transparent 100%),
    linear-gradient(to top, black 80%, transparent 100%),
    linear-gradient(to right, black 80%, transparent 100%),
    linear-gradient(to left, black 80%, transparent 100%);
  -webkit-mask-composite: destination-in; /* ← intersect の代わり */
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: cover;
}

h1{
    /* display: block;
    padding: 0 15px;
    margin: 0 auto;
    line-height: 160px;
    font-size: 3em;
    text-align: center;
    text-shadow: 0 0 10px rgba(0,0,0,.4); */
    display: block;
    width: 60%;
    position: relative;
    top: 2%;
    left: 30%;
    font-size: 2rem;

}



.first-view__inner a{
 color: rgb(255, 255, 255);
}

.first-view__inner a:hover{
 color: #333;
}




.fade .slick-prev,.fade .slick-next{
    z-index: 5;
    top: 102%;
}

.fade .slick-prev::before,.fade .slick-next::before{
    /* font-size: 32px; */
    color: #333;
}
.fade .slick-prev{
    left: 5%;
    
}

.fade .slick-next{
    right: 5%;
}

.slick-slider{
    width: 100%;
    margin: 0 auto;
}

.slick-slide {
    display: flex;
    align-items: center;
}


/* スライダーの高さを固定 */
.slick-list .slick-track {
  display: flex;
  align-items: center;
}

/* スライド内のコンテンツを中央に配置 */
.slick-slide {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

/* 画像のサイズを調整 */
.slick-slide img {
    /* margin: 0 auto;
    width: 80%;
  height: 80%; */
  /* max-width: 100%; */
  object-fit: contain;
  border: 10px solid rgba(180, 134, 103, 0.8);
  /* filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.4)); */
      max-height: 90vh;
    margin: 0 auto;
}

.first-view__link{
    gap: 1rem;
    position: absolute;
    right: 8px;
    padding-top: 16px;
}



.reservation-item{
 gap: 32px;
 justify-content: center;
}

.reservation-item a{
    display: block;
    
}

.reservation-left span{
    font-size: 0.8rem;

}

.reservation-list{
    display: grid;
    grid-template-columns: 1fr;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.reservation-right{
    display: flex;
    flex-direction: column;
    gap: 8px;

}

.event-detail,.reservation{
    text-decoration: underline;
}
.featured-artworks__item{
    padding-bottom: 80px;
}
.featured-artworks img{
    height: 100%;
}

.featured-artworks-text{
    align-items: center;
    justify-content: center;
}

/* .featured-artworks__item{
    flex-direction: column;
} */


h3{
    padding-bottom: 16px;
    font-size: 1.5rem;
}

.featured-artworks-text  p{
    padding: 8px;
    font-size: 1rem;
}

@media (min-width:580px){
    .parallax {

    background-attachment: fixed;

}

    .slick-slider{
    width: 90%;
  
}
    .fade .slick-prev,.fade .slick-next{
   
    top: 50%;
}
.fade .slick-prev{
    left: -2%;
    
}

.fade .slick-next{
    right: -2%;
}


    .featured-artworks__item{
    flex-direction: row;
}

.featured-artworks__item.u-reverse{
    flex-direction: row-reverse;
}


.parallax {
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover ;

}

h1{
    font-size: 3rem;
}

.featured-artworks img{
    width: 60%;
    /* margin-left: 10%; */

}


}

@media (min-width:1001px){
.reservation-list{
    grid-template-columns: 1fr 1fr;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

h1{
    width: 45%;
    left: 50%;
}

h2{

    font-size: 3rem;
}

h3{
    padding-bottom: 16px;
    font-size: 2rem;
}

.featured-artworks-text  p{
    padding: 16px;
    font-size: 1.5rem;
}


}

